* {
	padding: 0;
	margin: 0
}

li {
    list-style: none;
}

.container {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #1403fc;
	padding: 30px;
	margin-bottom: 20px;

}

.header { /* class */
	/*text-align: center;*/
	padding: 50px;
	background: #0cd7e6;
	/*color: bloo;*/
	/*font-size: 32px; */
	margin: 0 auto;
	margin-bottom: 20px;

}




.logo {
	float: left;
	/*padding-left: 100px;*/
	/*position: absolute;
	left: 20%;*/
	padding-left: 30%;
}

.name {
	text-align: center;
	padding-right: 35%;
	font-size: 32px;
	color: rgb(9, 86, 228);
}


.navigation {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #0367fc;
	margin-bottom: 20px;
	padding: 30px;
}

.links {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #03a1fc;
	margin-bottom: 20px;
	padding: 30px;
}

.table {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: rgb(129, 137, 250);
	margin-bottom: 20px;
	
}

td, th {
	width: 120px;
	padding: 10px;
	font-style: italic;
	font-size: 18px;
}

nav ul li {
	
	list-style: none;

	width: 60px;

	display: inline;

	padding: 30px;

}


tr:nth-child(odd) {
	background-color: #038cfc;
}

tr:nth-child(even) {
	background-color: rgb(13, 231, 129);
}

.footer {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #0352fc;
	padding: 30px;
}